.ant-picker-outlined:hover {
  border-color: var(--color-green-1);
}

.ant-picker-outlined:focus,
.ant-picker-outlined:focus-within {
  border-color: var(--color-green-1);
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.15);
}

.ant-picker-range .ant-picker-active-bar {
  background-color: var(--color-green-1);
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: 1px solid var(--color-green-1);
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-disabled
  )
  .ant-picker-cell-inner,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-disabled
  )
  .ant-picker-cell-inner {
  background-color: var(--color-green-1);
  color: white;
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-in-range:not(
    .ant-picker-cell-disabled
  ):before,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-disabled
  ):before,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-disabled
  ):before {
  background-color: rgba(48, 110, 81, 0.17);
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner {
  background-color: var(--color-green-1) !important;
  color: white;
}

.ant-picker-today-btn {
  color: var(--color-green-1) !important;
}

.ant-picker-today-btn:hover {
  color: var(--color-green-1) !important;
}
