.ant-input-outlined:hover {
  border: 1px solid var(--color-green-1);
}

.ant-input-outlined:focus-within {
  border: 1px solid var(--color-green-1);
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.15);
}

.ant-switch.ant-switch-checked {
  background: linear-gradient(
    to right,
    var(--color-green-1) 0%,
    #0ec383 51%,
    var(--color-green-1) 100%
  ) !important;
}

.ant-input-number-outlined:hover {
  border: 1px solid var(--color-green-1);
}

.ant-input-number-outlined:focus-within {
  border: 1px solid var(--color-green-1);
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.15);
}

.ant-input-outlined.ant-input-disabled,
.ant-input-outlined[disabled] .ant-input-outlined:hover {
  border-color: #d1d1d1;
  box-shadow: none !important;
}
