.plm-layout-layout .ant-layout-header.plm-layout-layout-header-fixed-header {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title {
    color: white;
}

.plm-layout-layout-apps-icon {
    color: var(--color-green-1);
}

.plm-layout-layout-apps-icon:hover {
    color: var(--color-green-1);
    border: 1px solid var(--color-green-1);
    border-radius: 9999px;
    background-color: rgba(34, 197, 94, 0.1);
    box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.15);
    transition: all 0.2s ease-in-out;
}

.plm-layout-layout .ant-layout-sider.plm-layout-sider {
    background-image: url("/bg-grandient.webp");
    background-size: cover;
}

.ant-form-item {
    margin-bottom: 0px;
}

/* Adjust form item label positioning */
.ant-form-item .ant-form-item-label {
    overflow: visible !important;
}

.ant-form-item .ant-form-item-label>label.ant-form-item-required::before {
    position: absolute !important;
    left: -9px !important;
}

.ant-menu.ant-menu-sub.ant-menu-inline {
    padding-inline-start: 0px;
    position: relative;
}

.ant-menu.ant-menu-sub.ant-menu-inline .ant-menu-title-content {
    padding-left: 12px;
}

.ant-layout-sider-children>div:first-child::-webkit-scrollbar {
    display: none;
}

.ant-layout-sider-children>div:first-child {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ant-menu-submenu-placement-rightTop {
    padding-inline-start: 0px !important;
    inset: 148px auto auto 64px !important;
}

.ant-menu.ant-menu-sub.ant-menu-vertical {
    background-color: #2c6e50 !important;

}