.tag-ticket-list .ant-tabs-nav {
    margin: 0 !important;
}

.tag-ticket-list .ant-tabs-tab {
    position: relative;
    overflow: hidden;
}

.tag-ticket-list .ant-tabs-tab::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #108ee9;
    transition: width 0.3s ease, left 0.3s ease;
}

.tag-ticket-list .ant-tabs-tab::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--color-green-3);
    transition: width 0.3s ease, left 0.3s ease;
}

.tag-ticket-list .ant-tabs-tab.ant-tabs-tab-active::before {
    width: 100%;
    right: 0;
}

.ant-tabs .ant-tabs-tab-btn {
    min-width: 80px;
    text-align: center;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--color-green-1);
}

.ant-tabs .ant-tabs-tab:hover {
    color: var(--color-green-2);
}



.ant-tabs-tab {
    background: var(--color-green-4) !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
    background: white !important;
}

.ant-tabs-tab.ant-tabs-tab-disabled .ant-tabs-tab-btn {
    color: #00000040 !important;
}